@font-face {
  font-family: "iconfont"; /* Project id 3883473 */
  src: url('iconfont.woff2?t=1677395845850') format('woff2'),
       url('iconfont.woff?t=1677395845850') format('woff'),
       url('iconfont.ttf?t=1677395845850') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fasongyoujian:before {
  content: "\e60b";
}

.icon-liebiao:before {
  content: "\e60c";
}

.icon-yonghuzhongxin:before {
  content: "\e635";
}

.icon-zhandianshujutongji:before {
  content: "\e63e";
}

.icon-daohang-shujufenxi:before {
  content: "\e61d";
}

.icon-zhandianrenling:before {
  content: "\e675";
}

.icon-tongxin-:before {
  content: "\ec84";
}

.icon-jurassic_audit-wait:before {
  content: "\e6ee";
}

.icon-lishijilu_huaban:before {
  content: "\e618";
}

.icon-bijijilu:before {
  content: "\e6f3";
}

.icon-zichanjieyong:before {
  content: "\e638";
}

.icon-danganguanli-danganguihuan:before {
  content: "\e62f";
}

.icon-wenjiansunhuai:before {
  content: "\e87a";
}

.icon-wenjiansunhuai1:before {
  content: "\e887";
}

.icon-bianjimoban:before {
  content: "\e600";
}

.icon-yingyong:before {
  content: "\e601";
}

.icon-jia:before {
  content: "\e602";
}

.icon-dianji:before {
  content: "\e603";
}

.icon-wodexuanzhong:before {
  content: "\e604";
}

.icon-jiazaizhong:before {
  content: "\e607";
}

.icon-xiangji1:before {
  content: "\e77f";
}

.icon-xiangji2:before {
  content: "\e780";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-tianjiafangyuanyuding:before {
  content: "\e632";
}

.icon-jiahao:before {
  content: "\e605";
}

.icon-shezhi:before {
  content: "\e8b8";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-wode-wode:before {
  content: "\e60d";
}

.icon-fenlei:before {
  content: "\e606";
}

.icon-denglu:before {
  content: "\e656";
}

.icon-wodedamaijihuo:before {
  content: "\e657";
}

.icon-icon_shezhi:before {
  content: "\eb8d";
}

.icon-tuichudenglu:before {
  content: "\e608";
}

.icon-guanyu:before {
  content: "\eaf2";
}

.icon-lishijilu:before {
  content: "\eaf7";
}

.icon-dayinji_o:before {
  content: "\eb48";
}

.icon-wodexiao:before {
  content: "\e941";
}

.icon-tuichudenglu1:before {
  content: "\e609";
}

.icon-shezhixitongshezhigongnengshezhishuxing:before {
  content: "\e795";
}

.icon-bianjisekuai:before {
  content: "\ec7c";
}

.icon-zuoxibianhao:before {
  content: "\e674";
}

.icon-shouye:before {
  content: "\e707";
}

.icon-zhenshixingming:before {
  content: "\e689";
}

.icon-bianhao:before {
  content: "\e62b";
}

.icon-fenlei1:before {
  content: "\e612";
}

.icon-jilu:before {
  content: "\e648";
}

.icon-shouye1:before {
  content: "\e629";
}

.icon-bianhaodanhao:before {
  content: "\e690";
}

.icon-bofangjilu:before {
  content: "\e8ad";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-dianhua:before {
  content: "\e8c3";
}

.icon-bianhao1:before {
  content: "\e696";
}

.icon-shouye2:before {
  content: "\e62d";
}

.icon-changdidingdan-yiyuding:before {
  content: "\e621";
}

.icon-shequ:before {
  content: "\e69e";
}

.icon-xuehaoguanli:before {
  content: "\e7b2";
}

.icon-jiazaizhong1:before {
  content: "\e60a";
}

.icon-shequ1:before {
  content: "\e617";
}

.icon-jiazaizhong2:before {
  content: "\e681";
}

